<!doctype html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <title>{{ title }} | Мода + история</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    {% include 'blog/navbar.html' %}

    <main class="main">

	<div class="container">
		<div class="main__wrapper">

        {% block content %}
        {% endblock %}



        <div class="sidebar">
          <div class="categories">
                  <ul class="categories__list">
                    {% if topic_selected == 0 %}
                      <li class="selected__item">Все темы</li>
                    {% else %}
                      <li class="categories__item"><a href="{% url 'index' %}">Все темы</a></li>
                    {% endif %}

                    {% for t in topics %}
                        {% if t.blog__count > 0 %}
                            {% if t.pk == topic_selected %}
                                <li class="selected__item">{{ t.name }}</li>
                            {% else %}
                                <li class="categories__item"><a href="{{ t.get_absolute_url }}">{{ t.name }}</a></li>
                            {% endif %}
                      {% endif %}

                    {% endfor%}
                  </ul>
            </div>
            </div>
        </div>
	</div>
</main>

</body>

</html>