{% extends 'blog/base.html' %}
{% load static%}
{% block content %}


			<div class="main__content">
				<div class="articles">
					<ul class="articles__list">
						{% for p in posts %}
						<li>
							<div class="article">
								<div class="article__main">
									<div class="article__left">
										<div class="article__top">
											<a href="{{ p.get_absolute_url }}" class="article__title">
												{{ p.title }}
											</a>
<!--											Заготовка разметки для просмотров-->
											<div class="views">
												<svg width="16" height="16" viewBox="0 0 16 16">
													<g clip-path="url(#clip0_288_3893)">
														<path d="M7.99991 12.5C5.10868 12.5 2.61179 10.6559 1.53662 8C2.61179 5.34413 5.10868 3.5 7.99991 3.5C10.8941 3.5 13.3881 5.34402 14.4632 7.99999C13.388 10.6559 10.8911 12.5 7.99991 12.5Z" stroke="#88857E" fill="none"/>
														<circle cx="8" cy="8" r="2.5" stroke="#88857E" fill="none"/>
													</g>
													<defs>
														<clipPath id="clip0_288_3893">
															<rect width="16" height="16" fill="none"/>
														</clipPath>
													</defs>
												</svg>
												<span class="visually-hidden">Просмотрено</span>
												<span class="views__num">{{ p.viewers.count }}</span>
											</div>
										</div>
										<div class="article__text">
											<p>
												{{ p.content|striptags }}
											</p>
										</div>
									</div>



									<div class="article__right">
										{% if p.photo %}
										<a href="{{ p.get_absolute_url }}">
										<img
												src="{{ p.photo.url }}"
												width={112}
												height={112}
												alt="{{ p.topic }}"
										/>
										</a>
										{% endif %}
									</div>
								</div>
								<div class="article__bottom">
									<div class="article__bottom-left">

									</div>
									<div class="article__bottom-right">
									</div>
								</div>
							</div>
						</li>
						{% endfor %}
					</ul>
					{% if page_obj.has_other_pages %}
					<div>
						<ul  class="page__list">
							{% if page_obj.has_previous %}
							<li class="page__num">
								<a href="?page={{ page_obj.previous_page_number }}">&lt</a>
							</li>
							{% endif %}
							{% for p in paginator.page_range %}
							{% if page_obj.number == p %}
								<li class="page__num page__num__selected">{{ p }}</li>
							{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
								<li class="page__num">
									<a href="?page={{ p }}">{{ p }}</a>
								</li>
							{% endif %}
							{% endfor %}
							{% if page_obj.has_next %}
							<li class="page__num">
								<a href="?page={{ page_obj.next_page_number }}">&gt</a>
							</li>
							{% endif %}
						</ul>
					</div>
					{% endif %}
				</div>
			</div>


{% endblock %}
