{% extends 'blog/base.html' %}

{% block content %}

<div class="modal">  <!-- modal__open добавить класс, чтобы увидеть модалку-->
    <div class="modal__container">
        <button type="button" class="modal__close">
            <svg width="14" height="14" viewBox="0 0 14 14">
                <path d="M14 1.415L12.585 0L7 5.585L1.415 0L0 1.415L5.585 7L0 12.585L1.415 14L7 8.415L12.585 14L14 12.585L8.415 7L14 1.415Z" fill="#3E3C38"/>
            </svg>
        </button>

        <div class="modal__title">Авторизация</div>
        <p class="modal__top-text">какой-то текст (может не быть)</p>

        <div class="modal__body">
            <form class="modal__form">
                <div class="modal__inputs">
                    <label>
                        <input
                            class="input"
                            type="text"
                            id="login"
                            placeholder="Введите логин"
                            required
                        >
                    </label>
                    <label>
                        <input
                            type="password"
                            id="password"
                            placeholder="Введите пароль"
                            required
                        >
                    </label>
                </div>
                <button class="button button--dark" type="submit">Войти</Button>
            </form>
        </div>
    </div>
    <div class="modal__overlay"></div>
</div>

{% endblock %}
