{% load static %}

<header class="header">
	  <div class="header__wrapper container">
		  <a href="/" class="header__logo">
			  <img
				  src="{% static 'images/logo.png' %}"
				  width={60}
				  height={60}
				  alt="Логотип"
			  />
		  </a>

		  <div class="header__middle">
			  <div class="header__search">
				  <label>
					  <input
						  type="text"
						  placeholder="Поиск"
					  />
				  </label>
			  </div>
		  </div>

		  <div class="header__nav">
			  {% if request.user.is_authenticated %}
			  <div class="header__nav-item">
				  <button
					  type="button"
					  class="header__nav-btn"
				  >
					  {{ user.username }} | <a href="{% url 'logout' %}">Выйти</a>
				  </button>
			  </div>

			  {% else %}
			  <div class="header__nav-item">
				  <button
						  class="header__nav-btn"
						  type="button"
				  >
					  <a href="{% url 'register' %}">Регистрация</a>
				  </button>
			  </div>

			  {% endif %}

			  {% if request.user.is_authenticated %}

			  <div class="header__nav-item">
				  <a
					  class="button"
					  href="{% url 'add_page' %}"
				  >
					  Добавить статью
				  </a>
			  </div>
			  {% else %}
			  <div class="header__nav-item">
				  <a
					  class="button"
					  href="{% url 'login' %}"
				  >
					  Войдите в систему
				  </a>
			  </div>


			  {% endif %}
		  </div>
	  </div>

  </header>
